In [36]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Define the URL
url = "https://www.hockey-reference.com/teams/SEA/2023_games.html"

# Use requests to retrieve the data from the URL
response = requests.get(url)

# Create a BeautifulSoup object and specify the parser
soup = BeautifulSoup(response.text, 'html.parser')

# Use the 'find' method to find the table with the id 'games'
table = soup.find('table', attrs={'id': 'games'})

# Convert the table into a pandas DataFrame
df = pd.read_html(str(table))[0]

In [37]:
# Current column names
current_columns = df.columns.tolist()

# Assign new names to the desired columns
current_columns[3] = "Location"
current_columns[7] = "Outcome"
current_columns[8] = "Overtime"
current_columns[15] = "Notes"
current_columns[14] = "Length"
# Update the column names of the dataframe
df.columns = current_columns

In [38]:
df

,GP,Date,Time,Location,Opponent,GF,GA,Outcome,Overtime,W,L,OL,Streak,Att.,Length,Notes
0,1,2022-10-12,10:00 PM,@,Anaheim Ducks,4,5,L,OT,0,0,1,L 1,17530,2:28,NaN
1,2,2022-10-13,10:30 PM,@,Los Angeles Kings,4,1,W,NaN,1,0,1,W 1,15645,2:28,NaN
2,3,2022-10-15,10:00 PM,NaN,Vegas Golden Knights,2,5,L,NaN,1,1,1,L 1,17151,2:32,NaN
3,4,2022-10-17,10:00 PM,NaN,Carolina Hurricanes,1,5,L,NaN,1,2,1,L 2,17151,2:30,NaN
4,5,2022-10-19,10:00 PM,NaN,St. Louis Blues,3,4,L,OT,1,2,2,L 3,17151,2:27,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,2023-04-06,10:30 PM,NaN,Arizona Coyotes,4,2,W,NaN,44,26,8,W 3,17151,2:37,NaN
78,79,2023-04-08,10:00 PM,NaN,Chicago Blackhawks,7,3,W,NaN,45,26,8,W 4,17151,2:29,NaN
79,80,2023-04-10,10:00 PM,@,Arizona Coyotes,4,1,W,NaN,46,26,8,W 5,4600,2:20,NaN
80,81,2023-04-11,10:00 PM,@,Vegas Golden Knights,1,4,L,NaN,46,27,8,L 1,18377,2:25,NaN
81,82,2023-04-13,10:30 PM,NaN,Vegas Golden Knights,1,3,L,NaN,46,28,8,L 2,17151,2:32,NaN

In [39]:
# Update values in the "Location" column
df.loc[df['Location'] == '@', 'Location'] = 'Away'
df.loc[df['Location'] != 'Away', 'Location'] = 'Home'

# Update values in the "Overtime" column
df['Overtime'] = df['Overtime'].fillna('REG')

In [41]:
# Convert "Date" column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Convert "Att" column to integer
df['Att.'] = df['Att.'].astype(int)

In [42]:
# Convert "LOG" column to minutes
df['Length'] = df['Length'].apply(lambda x: int(x.split(':')[0]) * 60 + int(x.split(':')[1]))

In [43]:
df

,GP,Date,Time,Location,Opponent,GF,GA,Outcome,Overtime,W,L,OL,Streak,Att.,Length,Notes
0,1,2022-10-12,10:00 PM,Away,Anaheim Ducks,4,5,L,OT,0,0,1,L 1,17530,148,NaN
1,2,2022-10-13,10:30 PM,Away,Los Angeles Kings,4,1,W,REG,1,0,1,W 1,15645,148,NaN
2,3,2022-10-15,10:00 PM,Home,Vegas Golden Knights,2,5,L,REG,1,1,1,L 1,17151,152,NaN
3,4,2022-10-17,10:00 PM,Home,Carolina Hurricanes,1,5,L,REG,1,2,1,L 2,17151,150,NaN
4,5,2022-10-19,10:00 PM,Home,St. Louis Blues,3,4,L,OT,1,2,2,L 3,17151,147,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,2023-04-06,10:30 PM,Home,Arizona Coyotes,4,2,W,REG,44,26,8,W 3,17151,157,NaN
78,79,2023-04-08,10:00 PM,Home,Chicago Blackhawks,7,3,W,REG,45,26,8,W 4,17151,149,NaN
79,80,2023-04-10,10:00 PM,Away,Arizona Coyotes,4,1,W,REG,46,26,8,W 5,4600,140,NaN
80,81,2023-04-11,10:00 PM,Away,Vegas Golden Knights,1,4,L,REG,46,27,8,L 1,18377,145,NaN
81,82,2023-04-13,10:30 PM,Home,Vegas Golden Knights,1,3,L,REG,46,28,8,L 2,17151,152,NaN

In [44]:
df.to_csv("Kraken_Games_2023.csv", index=False)